@import "../07_Vendors/bootstrap/variables";
@import "../07_Vendors/bootstrap/utilities";

$grid-columns: 10;
$grid-gutter-width: 0rem;
$gutters: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

$border-radius: 0.4rem;
$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1440px,
);

$container-max-widths: (
    xs: 312px,
    sm: 468px,
    md: 744px,
    lg: 960px,
    xl: 1200px,
    xxl: 1320px,
);

@import "../07_Vendors/bootstrap/utilities";
